* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    font-family: "Bahij TheSansArabic" !important;
}

body {
    background-color: #fff;
}

.events {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    align-content: center;

    &__container {
        background-color: #ccc;
        padding: 0 16px !important;
        width: 600px;
        height: 720px;
        position: relative;
        overflow: hidden !important;
    }
    &__timer {
        padding-right: 10px !important;
        &__time {
            color: #444;
            text-align: right;
            margin-inline-start: 10px !important;
            height: calc(720px / 25);
            p {
                height: 100%;
            }
        }
    }
    &__item {
        position: absolute;
        border: 1px solid #ccc;
        padding: 10px !important;
        border-left: 5px solid green;
        text-align: left;
        background-color: #fff;
        overflow: hidden;
        &__title {
            color: green;
            font-weight: bold;
        }
        &__text {
            font-size: 14px;
            color: #ccc;
        }
    }
}
