* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    font-family: "Bahij TheSansArabic" !important;
}

body {
    background-color: #fff;
}
ul {
    list-style: none;
}

.events {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    align-content: center;

    &__container {
        background: #ececec;
        border-left: 1px solid #d5d5d5;
        padding: 0 16px !important;
        width: 600px;
        height: 720px;
        position: relative;
        overflow: hidden !important;
        float: left;
    }
    // li {
    //     height: calc(720px / 25);
    //     padding: 2px 0 0 0;
    //     font-family: "Helvetica", "Arial", "lucida grande", sans-serif;
    //     // line-height: 3.5;
    //     text-align: right;
    //     color: #a7a7a7;
    //     box-sizing: border-box;
    //     text-transform: uppercase;
    // }
    &__timer {
        padding-right: 10px !important;
        &__time {
            color: #a7a7a7;
            text-align: right;
            margin-inline-start: 10px !important;
            height: calc(720px / 25);
            &:nth-of-type(odd) {
                font-weight: bold;
                color: #444;
            }
        }
    }
    &__item {
        position: absolute;
        border: 1px solid #ccc;
        padding: 10px !important;
        border-left: 5px solid green;
        text-align: left;
        background-color: #fff;
        overflow: hidden;
        &__title {
            color: green;
            font-weight: bold;
        }
        &__text {
            font-size: 14px;
            color: #ccc;
        }
    }
}
